h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

form {
  background-color: rgb(240, 236, 236);
  .alert {
    color: red;
  }
  .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    button {
      background-color: transparent;
      border: none;
      color: green;
    }

    .bi {
      color: green;
    }
  }
}
