<h1>Formulario Nuevo Pokemon</h1>
<form class="row g-3" [formGroup]="pokemonForm" (submit)="onSubmit()">
  <div class="col-6 form-group">
    <label class="form-label">Nombre</label>
    <input type="text" class="form-control" formControlName="name" />
  </div>
  <div class="col-6">
    <label class="form-label">Peso</label>
    <input type="text" class="form-control" formControlName="weight" />
  </div>

  <div class="col-6">
    <label class="form-label">Tipo</label>
    <select
      class="form-select"
      formControlName="type"
      (change)="onChange($event)"
    >
      <option selected>Selecciona un tipo</option>
      <option *ngFor="let type of types">{{ type }}</option>
    </select>
  </div>

  <div class="col-12 button-container">
    <i class="bi bi-person-plus-fill"></i>
    <button type="submit">Añadir</button>
  </div>
</form>
