::ng-deep {
  table {
    margin-top: 40px;
    width: 100%;

    thead {
      color: gray;
      background-color: rgb(240, 236, 236);
      th {
        padding: 15px;
      }
    }

    tbody {
      font-weight: 500;
      tr {
        border-bottom: 1px solid lightgray;
        th {
          &:first-child {
            font-weight: bold;
          }
          padding: 15px;
          font-weight: 400;
          button {
            background-color: rgba(213, 241, 213, 0.361);
            color: rgb(4, 145, 4);
            border: none;
            border-radius: 25px;
            padding: 5px 20px;
          }
        }
      }
    }
  }
}
