<table>
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Peso</th>
      <th scope="col">Altura</th>
      <th scope="col">Tipo</th>
      <th scope="col">Habilidades</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of data">
      <th scope="row">{{ pokemon.name }}</th>
      <th scope="row">{{ pokemon.weight }}</th>
      <th scope="row">{{ pokemon.height }}</th>
      <th scope="row">{{ pokemon.type }}</th>
      <th scope="row">{{ pokemon.abilities }}</th>
      <th><button (click)="viewDetail(pokemon.name)">Detalle</button></th>
    </tr>
  </tbody>
</table>
